body{
 
        background-color: darken(#181818, 2.5%);
 
}

.home-contianer{
    width:83%;
    height: 100%;
    margin-left: 17%;
    height: 100vh;
    border:0px solid black;
    z-index: 50;
   
    @media screen and (min-width: 350px) and (max-width: 900px) {
         
        margin-left: 2%;
        width:95%;
        height: 100%;
        padding-bottom: 50px;
       

      
    }
}