.movie-list-container{
    padding: 20px;
    
    width: 83%;
    height: 100vh;
    margin-left: 17%;
    overflow-y: auto; 
}

h1{
    color:white;
    margin-left: 50px;
    margin-bottom: 10px;
}